@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
.container-about{
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #D9D9D9;
}

.container-about img{
    height: 135px;
}
.container-about h2{
    margin-top: 20px;
    color: #252525;
}
.container-about p{
    color: #777777;
    font-size: 16px;
    font-family: lato;
    width: 60%;
    
}
.container-about button{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border: 3px solid #C59D5F;
    background-color: transparent;
    color: #C59D5F;
    font-family: Roboto;
    
}