@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
.container-about{
    height: 120vh;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    /* background-image: url('../assets/img/bg-burger.png');
    background-repeat: no-repeat;
    background-size: 30%; */
    margin: 0; 
}
.bg-burger-aboutus{
    position: absolute;
    height: 400px;
    margin: 0 68% 28% 0 ;
    opacity: 0.3;
    transform: rotate(-20deg);
}
.bg-burger-aboutus-two{
    position: absolute;
    height: 500px;
    margin: 40% 0 0 70%;
    opacity: 0.3;
    transform: rotate(20deg);
}
.container-about .logo-sowan{
    height: 135px;
}
.container-about h2{
    margin-top: 20px;
    color: #252525;
}
.container-about p{
    color: #777777;
    font-size: 16px;
    font-family: lato;
    width: 60%;
}
.container-about button{
    width: 180px;
    height: 50px;
    margin-top: 20px;
    border: none;
    background-color: #C59D5F;
}
.container-about button .buttonAbout{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    transition: all 0.5s;
    width: 180px;
    height: 50px;
}
.container-about button:hover{
    background-color: #997a4a;
    transition: 0.5s;
}