@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/lato');
*{
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    
}

.container-aboutus2{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #1B2430;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* .container-foto-aboutus2{
    width: 50vh;
    height: 50vh;
    margin-left: -210px;
    position: relative;
    margin-top: 78px;
} */
.card-img-aboutus{
    height: 400px;
    width: 200px;
}
.card-img-aboutus img{

    height: 400px;
    width: 250px;
    margin: 0 0 0 0;
}
/* .foto-kafe img{
    height: 50px;
    width: 100%;
} */

.row-container-aboutus2{
    position: absolute;
    height: 300px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    margin: 100px 0 0 200px;
    gap: 70px;
}
.container-story{
    height: 400px;
    width: 900px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    background: #1B2430;
    box-shadow:  5px 5px 10px #18202a,
                 -5px -5px 10px #1e2836;
             padding: 100px 100px 100px 100px;
}
.column-story{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    gap: 10px;
}
.heading-story{
    font-size: 28px;
    font-weight: bold;

}
.sub-heading-story{
    font-size: 18px;
    font-weight: bold;
}
.text-story{
    font-size: 12px;
    font-weight: normal;
}