@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
.container-page1{
    height: 100vh;
    width: 100%;
    text-align: center ;
    padding: 30px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.container-title-menu{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    position: relative;
}
.container-title-menu h4, span{
    color: #C59D5F;
    font-family: lato;
}
.container-title-menu h3{
    color: #252525;
    font-family: lato;
    font-weight: 800;
}
.container-title-menu p{
    color: #777777;
    font-family: lato;
    font-weight: 500;
    text-align: justify;
    padding: 0 70px;
    margin-top: 10px;
}
.container-menu{
    display: flex ;
    z-index: 2;
}
.container-card-menu{
    width: 80%;
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.card{
    height: 300px;
    width: 220px;
    background-color: rgb(253, 253, 253);
    border-radius: 5%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
    box-shadow:  5px 5px 21px #c8c8c8,
             -5px -5px 21px #eaeaea;
}
.card img{
    height: 60px;
    width: 50px;
}
.card div:nth-child(1-2){
    background-size: cover;
    background-position:center;
    height: 300px;
    width: 197px;
    position: relative;
    
}
.itemBox img{
    height: auto;
    position: relative;
    width: 105%;
}

.card .container-art-menu{
    top: 75%;
    /* transform: translateY(75%); */
    position: absolute;
    bottom: 0;
    background: #2626263d;
    height: 300px;
    width: 220px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    transition: all .6s;
}
.container-art-menu:hover {
    top: 0;
    /* transform: translateY(0%); */
    position: absolute;
    height: 100%;
    transition: all .5s;
}
.container-art-menu h5{
    color: #ffffff;
    padding: 0 10px 0 10px;
    margin-top: 20px;
    font-size: 18px;
    font-family: lato;
    font-weight: 600;
    transition: all .5s;
}
.container-art-menu p{
    text-align: justify;
    color: #ffffff;
    padding: 15px 20px 0 ;
    font-size: 12px;
    text-align: left;
    font-weight: 300;
}
.container-list-menu {
    height: 120px;
    width: 60%;
    background-color: #ffffff;
    position: absolute;
    margin-top: 390px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container-list-menu .menu{
    padding: 4px 18px;
    border-radius: 2px;
}
.activemenu{
    transition: all 0.5s ease-in;
    background: #C59D5F;
}
    .itemBox img{
        transition: all 1s;
    }
    .itemBox img:hover {
        transform: scale(1.2);
    }