@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@300;400;700;900&display=swap');
.container-page2{
  width: 100%;
  height: 150vh;
  position: relative;
  display: flex;
}
.column-page2{
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column-1-background1Page2{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(190deg, rgba(27, 36, 48, 0.906) 0%, rgba(27, 36, 48, 0.916) 90%), url(../assets/img/bg3.jpg);
    background-size: cover;
    background-position: center ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-title-page2{
    width: 95%;
    height: 70vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    }
.text1{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: large;
    color: goldenrod;
    margin: 0;
}
.text2{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}
.text3{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: large;
    margin-top: 360px;
    margin: 0;
}

.container-Gallery{
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* animation: slide 5s infinite; */
}
.card2{
    height: 270px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card2 img{
    height: auto;
    border-radius: 5px;
    width: 100%;
    transition: all .4s ease-in-out;
}
.card2 img:hover{
  transform: scale(1.1);
}
.column-2-background1Page2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #D9D9D9;
}
/* Page 2 bawah */
.text5{
  display: flex;
  font-size: 60px;
  font-weight: 550;
  color: #313030;
  margin: 20px;
  font-family: 'Dancing Script', cursive;
}
.wrapper {
    margin-top: -60px;
    width: 80%;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - -5px);
    overflow-x: auto; /*slide*/
    scroll-snap-type: x mandatory;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: 20px;
    padding: 10px;
  }
  .carousel::-webkit-scrollbar {
    display: none;
}

  .carousel :where(.card3, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel .card3 {
    scroll-snap-align: start;
    width: 250px;
    height: 345px;
    list-style: none;
    background: #ffffff;
    cursor: pointer;
    padding-bottom: 37px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 70px;
    border-radius: 3px;
  }
  .card3  img {
    width: 250px;
    height: 250px;
    border-radius: 3px;
    object-fit: cover;
  }
 
  .carousel .card3 .text4 {
    font-family: 'Lato', sans-serif;
    color: #151515;
    font-weight: 500;
    font-size: 18px;
    /* margin: 10px 0 5px; */
    text-align: center;
  }
  .carousel .card3 span {
    color: #777777;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
  }

  .icons a{
    position: relative;
    margin: 4px;
    color: #000000;
    font-size: 22px;
    transition: all 0.5s ease;
  }
  .icons a:hover{
    color: #C59D5F;
    transition: all 0.5s ease;
  }

  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }