.container-page1{
    height: 100vh;
    width: 100%;
    text-align: center ;
    padding: 30px;
    border:1px solid #f90a0a;
}
.container-title-menu{
    color: white;
}
.container-menu{
    display: flex ;

}
.container-card-menu{
    width: 100%;
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.card{
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card img{
    width: 103px;
}