@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Lato:wght@900&display=swap');

*{
  
  box-sizing: border-box;
}
.container-bx-reservation{
  font-family: 'Cabin', sans-serif;
  letter-spacing: 2px;
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.884);
    width: 100%;
    height: 100vh;
    display: flex;
    right: 0;
    top: 0;
    transition: 0.5s;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.container-bx-reservation.close{
  visibility: hidden;
  transition: 1s;
}
.container-bx-reservation .bx-reservation{
    height: 500px;
    background-color: #1B2430;
    border-radius: 10px;
    display : flex;
    text-align: center;
    justify-content: center;
}
.Booking-text{
    color: white;
    margin: 30px ;
    font-size: 22px;
    display: flex;
    position: absolute;
    
}
.btn-icon-close{
    display: flex;
    position: relative;
    top: 20px;
    left: 650px;
}
.btn-icon-close .icon-close{
    width: 25px;
    height: 25px;
}
.heading-date{
  display: flex;
  margin: 90px 0% 0% 0%;
  padding: 0 180px 0 180px;
  gap: 320px;
}
.opening-hours{
  display: flex;
  justify-content: center;
}
.heading{
  color: #FFFFFF;
  font-size: 12px;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: #C59D5F;
  display: flex;
  position: absolute;
  
}
.day-text{
  margin: 15px ;
  position: absolute;
  color: #C59D5F;
  font-size: 10px;
}
.time-text{
  margin: 30px ;
  position: absolute;
  color: #FFFFFF;
  font-size: 10px;
}
 .caffe-hours{
  display: flex;
  justify-content: center;
 }
 .Input-Reservation{
  display: flex;
  position: absolute;
  margin: 170px 20px;
 }
 .column-input{
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
 .row-input{
  display: flex;
  flex-direction: row;
  gap: 2px;
 }
 .Input-Bx-Name{
  position: relative;
 }
 .Input-Bx-Email{
  position: relative;
  margin-left: 20px;
 }
 .Input-Bx-Name input{
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 1px;
  background: transparent;
  width: 200px;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Email input{
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 1px;
  background: transparent;
  width: 200px;
  font-weight: 300;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Name span{
  position: absolute;
  padding: 10px;
  margin: 0px -195px;
  pointer-events: none;
  color:  #FFFFFF;
  font-size: 12px;
  text-transform: uppercase;
 transition: 0.5s;
 }
 .Input-Bx-Email span{
  position: absolute;
  padding: 10px;
  margin: 0px -195px;
  pointer-events: none;
  font-size: 12px;
  color:#FFFFFF;
  text-transform: uppercase;
  transition: 0.5s;
 }
 .Input-Bx-Name input:valid ~ span,
 .Input-Bx-Name input:focus ~ span
 {
  color: #C59D5F;
  transform: translateX(5px) translateY(-6px);
  font-size: 10px;
  padding: 0 10px;
  background: #1B2430;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Name input:valid ,
 .Input-Bx-Name input:focus 
 {
  border: 1px solid #C59D5F;
 }
 .Input-Bx-Email input:valid ~ span,
 .Input-Bx-Email input:focus ~ span
 {
  color: #C59D5F;
  transform: translateX(5px) translateY(-6px);
  font-size: 10px;
  padding: 0 10px;
  background: #1B2430;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Email input:valid ,
 .Input-Bx-Email input:focus 
 {
  border: 1px solid #C59D5F;
 }
 .Input-Bx-Phone{
  position: relative;
  margin-left: 20px;
 }
 .Input-Bx-Phone input{
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 1px;
  background: transparent;
  width: 200px;
  font-weight: 300;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Phone span{
  position: absolute;
  padding: 10px;
  margin: 0px -195px;
  pointer-events: none;
  font-size: 12px;
  color:#FFFFFF;
  text-transform: uppercase;
  transition: 0.5s;
 }
 .Input-Bx-Phone input:valid ~ span,
 .Input-Bx-Phone input:focus ~ span
 {
  color: #C59D5F;
  transform: translateX(5px) translateY(-6px);
  font-size: 10px;
  padding: 0 10px;
  background: #1B2430;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Phone input:valid ,
 .Input-Bx-Phone input:focus 
 {
  border: 1px solid #C59D5F;
 }
 .Input-Bx-Date{
  position: relative;
  
 }
 .Input-Bx-Date input{
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 1px;
  background: transparent;
  width: 200px;
  font-weight: 300;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Date span{
  position: absolute;
  padding: 0px 10px;
  margin: 0px -195px;
  pointer-events: none;
  color:#FFFFFF;
  text-transform: uppercase;
  transition: 0.5s;
  transform: translateX(5px) translateY(-6px);
  font-size: 10px;
  background: #1B2430;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Date input:valid ,
 .Input-Bx-Date input:focus 
 {
  border: 1px solid #C59D5F;
 }
 .Input-Bx-Date input:valid ~ span,
 .Input-Bx-Date input:focus ~ span
 {
  color: #C59D5F;
 }
 .Input-Bx-Time{
  position: relative;
  margin-left: 20px;
 }
 .Input-Bx-Time input{
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 1px;
  background: transparent;
  width: 200px;
  font-weight: 300;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Time span{
  position: absolute;
  padding: 0px 10px;
  margin: 0px -195px;
  pointer-events: none;
  color:#FFFFFF;
  text-transform: uppercase;
  transition: 0.5s;
  transform: translateX(5px) translateY(-6px);
  font-size: 10px;
  background: #1B2430;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Time input:valid ,
 .Input-Bx-Time input:focus 
 {
  border: 1px solid #C59D5F;
 }
 .Input-Bx-Time input:valid ~ span,
 .Input-Bx-Time input:focus ~ span
 {
  color: #C59D5F;
 }
 .Input-Bx-Sheet{
  position: relative;
  margin-left: 20px;
 }
 .Input-Bx-Sheet input{
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 1px;
  background: transparent;
  width: 200px;
  font-weight: 300;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Sheet span{
  position: absolute;
  padding: 10px;
  margin: 0px -195px;
  pointer-events: none;
  font-size: 12px;
  color:#FFFFFF;
  text-transform: uppercase;
  transition: 0.5s;
 }
 .Input-Bx-Sheet input:valid ,
 .Input-Bx-Sheet input:focus 
 {
  border: 1px solid #C59D5F;
 }
 .Input-Bx-Sheet input:valid ~ span,
 .Input-Bx-Sheet input:focus ~ span
 {
  color: #C59D5F;
  transform: translateX(5px) translateY(-6px);
  font-size: 10px;
  padding: 0 10px;
  background: #1B2430;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Description{
  position: relative;
 }
 .Input-Bx-Description textarea{
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 1px;
  background: transparent;
  width: 660px;
  height: 120px;
  font-weight: 300;
  letter-spacing: 0.2em;
  box-sizing: border-box;
  resize: none;
 }
 .Input-Bx-Description span{
  position: absolute;
  padding: 10px;
  margin: 0px -650px;
  pointer-events: none;
  font-size: 12px;
  color:#FFFFFF;
  text-transform: uppercase;
  transition: 0.5s;
 }
 .Input-Bx-Description textarea:valid ~ span,
 .Input-Bx-Description textarea:focus ~ span
 {
  color: #C59D5F;
  transform: translateX(5px) translateY(-6px);
  font-size: 10px;
  padding: 0 10px;
  background: #1B2430;
  letter-spacing: 0.2em;
 }
 .Input-Bx-Description textarea:valid ,
 .Input-Bx-Description textarea:focus 
 {
  border: 1px solid #C59D5F;
 }
 .Submit-bx{
  margin-top: 5px;
  background-color: #C59D5F;
  border: 0;
  width: 140px;
  height: 40px;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  transition: 0.5s;
 }
 .Submit-bx:hover{
  background-color: #997a4a;
  transition: 0.5s;
 }
 ::-webkit-calendar-picker-indicator{
  background-color: #FFFFFF;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
